/* Background */
body {
    margin: 0;
    background: #000000;
    font-family: Arial, sans-serif;
    color: white;
}

/* NAVBAR BARU */
.top-nav {
    width: 100%;
    height: 55px;
    background: linear-gradient(180deg, #450000, #1a0000);
    border-bottom: 2px solid #ff0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-shadow: 0 0 12px #ff0000;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #ffddbb;
    text-shadow: 0 0 8px #ff0000;
}

.nav-right a {
    color: #ffcccc;
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

.nav-right a:hover {
    color: white;
    text-shadow: 0 0 6px red;
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.hero-title {
    font-size: 45px;
    font-weight: bold;
    color: #ffddcc;
    text-shadow: 0 0 18px #ff0000;
}

.hero-subtitle {
    margin-top: -10px;
    font-size: 18px;
    color: #ffe0e0;
    text-shadow: 0 0 6px #aa0000;
}

/* SECTION TITLE */
.section-title {
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
}

.divider {
    width: 260px;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff4444, transparent);
    margin: 10px auto 30px auto;
    box-shadow: 0 0 10px #ff0000;
}

/* GRID BUTTONS */
.fw-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    margin-bottom: 50px;
}

/* GAYA TOMBOL BARU (PS5 RED GLOW) */
.fw-btn {
    width: 230px;
    height: 55px;
    border-radius: 14px;
    border: 2px solid #650000;
    background: linear-gradient(180deg, #ff6666, #b30000 70%);
    box-shadow: 0 0 15px rgba(255, 70, 70, 0.7);
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.fw-btn:hover {
    background: linear-gradient(180deg, #ff7777, #cc0000 70%);
    box-shadow: 0 0 35px rgba(255, 40, 40, 1);
    transform: translateY(-3px);
}

/* FOOTER */
.footer {
    text-align: center;
    margin-top: 60px;
    color: #ffbbbb;
    text-shadow: 0 0 6px red;
    padding-bottom: 20px;
    font-size: 14px;
}
